@font-face {
  font-family: 'BatiikStudio';
  src: url('./fonts/BatiikStudio.eot');
  src: url('./fonts/BatiikStudio.eot?#iefix') format('embedded-opentype'),
      url('./fonts/BatiikStudio.woff2') format('woff2'),
      url('./fonts/BatiikStudio.woff') format('woff'),
      url('./fonts/BatiikStudio.ttf') format('truetype');
  font-weight: normal;
	font-style: normal;
	font-display: auto;
}

@font-face {
  font-family: 'Apercu';
  src: url('./fonts/Apercu.eot');
  src: url('./fonts/Apercu.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Apercu.woff2') format('woff2'),
      url('./fonts/Apercu.woff') format('woff'),
      url('./fonts/Apercu.ttf') format('truetype');
  font-weight: normal;
	font-style: normal;
	font-display: auto;
}

@font-face {
  font-family: 'Apercu';
  src: url('./fonts/Apercu-Light.eot');
  src: url('./fonts/Apercu-Light.eot?#iefix') format('embedded-opentype'),
      url('./fonts/Apercu-Light.woff2') format('woff2'),
      url('./fonts/Apercu-Light.woff') format('woff'),
      url('./fonts/Apercu-Light.ttf') format('truetype');
  font-weight: 300;
	font-style: normal;
	font-display: auto;
}

@font-face {
  font-family: 'Canela';
  src: url('./fonts/canelatext-medium-webfont.woff2') format('woff2'),
      url('./fonts/canelatext-medium-webfont.woff') format('woff');
  font-weight: 300;
	font-style: normal;
	font-display: auto;
}

@font-face {
  font-family: 'cabinetgrotesk-regular';
  src: url('./fonts/cabinetgrotesk-regular-webfont.woff2') format('woff2'),
      url('./fonts/cabinetgrotesk-regular-webfont.woff') format('woff');
  font-weight: 300;
	font-style: normal;
	font-display: auto;
}

