.about-right {
  width: $aboutRightWidth;
  margin-right: calc(2vw + 40px);
  margin-left: auto;
  margin-top: 30vh;
  padding-bottom: 5vh;
  @media (max-width: 1024px) {
    width: 90%;
    margin: 200px auto 0;
  }

  &__gradient {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    background: #FFF;
  }

  &__section {
    margin-bottom: 60px;
    &--multiple {
      display: flex;
      flex-wrap: wrap;
      > div {
        width: 32%;
				vertical-align: top;
        @media (max-width: 420px) {
          width: 100%;
          margin-bottom: 50px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        &:not(:first-child) {
          margin-left: 2%;
          @media (max-width: 420px) {
            margin-left: 0;
          }
        }
        &:nth-child(n+4) {
          margin-top: 30px;
        }
      }
    }
    &--articles {
      display: flex;
      > .left {
        width: 73%;
        @media (max-width: 420px) {
          width: 100%;
        }
      }
      > .right {
        width: 25%;
        min-height: 300px;
        @media (max-width: 420px) {
          display: none;
        }
        @media (min-width: 2000px) {
          font-size: 22px;
          min-height: 450px;
        }
      }
    }
    &--various {
      font-size: 14px;
      line-height: 1.3;
      color: #6a6a6b;
      @media (min-width: 2000px) {
        font-size: 22px;
      }
    }
  }

	&__founder-content {
		margin-top: 40px;
	}

	&__employee-image {
		width: 100%;
		height: 31vw;
		object-fit: cover;
		margin-bottom: 20px;
		@media (max-width: 420px) {
			height: 120vw;
		}
	}

	&__image {
		@media (max-width: 820px) {
			display: none;
		}
	}

	&__image-mobile {
		width: 100%;
		object-fit: cover;
		display: none;
		@media (max-width: 820px) {
			display: block;
			height: 130vw;
		}
	}

  &__subtitle {
    font-size: 20px;
    font-family: $font-title;
    margin-bottom: 15px;
    @media (min-width: 2000px) {
      font-size: 30px;
    }
	}


  &__profession {
    font-family: $font-body;
    font-size: 14px;
    margin-left: 30px;
    @media (max-width: 812px) {
      display: block;
      width: 100%;
      margin-left: 0;
      line-height: 1.3;
    }
    @media (min-width: 2000px) {
      font-size: 18px;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 1.3;
    font-family: $font-body;
    font-weight: 300;
    @media (min-width: 2000px) {
      font-size: 24px;
    }
	}

	&__top {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		// @media (max-width: 820px) {
			// flex-direction: column;
		// }
		> div {
			width: 49%;
			@media (max-width: 820px) {
				width: 100%;
			}
			p {
				margin-bottom: 15px;
			}
		}
		> img {
			width: 49%;
			@media (max-width: 820px) {
				width: 100%;
				margin-top: 30px;
				margin-bottom: 50px;
			}
		}
		&-texts {
			display: flex;
			align-self: stretch;
			flex-direction: column;
			justify-content: flex-end;
			@media (max-width: 820px) {
				align-self: flex-start;
			}
			> .about-right__studio-description {
				justify-self: flex-start;
				margin-bottom: auto;
				@media (max-width: 820px) {
					margin-bottom: 30px;
				}
			}
		}
	}

  &__columns {
    display: flex;
    justify-content: space-between;
    @media (max-width: 420px) {
      flex-direction: column;
    }
    > div {
      width: 49%;
      @media (max-width: 420px) {
        width: 100%;
      }
    }
  }

  &__list {
    width: 100%;
    font-size: 14px;
    @media (max-width: 812px) {
      font-size: 12px;
    }
    @media (min-width: 2000px) {
      font-size: 22px;
    }
    line-height: 1.3;
    &-item > a {
      display: flex;
      justify-self: flex-start;
      width: 69%;
      @media (max-width: 768px) {
        width: 100%;
      }
      .date {
        width: 20%;
        @media (max-width: 812px) {
          width: 16%;
          display: none;
        }
      }
      .journal {
        margin-left: 30px;
        @media (max-width: 812px) {
          margin-left: 0px;
        }
      }
      .number-container {
        justify-self: flex-end;
        margin-left: auto;
        width: auto;
        display: flex;
        justify-content: flex-start;
        @media (max-width: 812px) {
          width: auto;
        }
      }
    }
  }

  &__article-images {
    &-container {
      position: relative;
      height: 100%;
      width: 80%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      > img {
        position: absolute;
        height: 60%;
        opacity: 0;
        top: 30px;
        transition: opacity 0.3s ease;
        &.visible {
          opacity: 1;
        }
      }
    }
  }
}


// Appear animations
.about-right__subtitle.js-to-appear--custom {
	opacity: 0;
	transform: translate3d(0, 50px, 0) scale3d(1, 1.3, 1);
	transition: opacity .8s cubic-bezier(.215,.61,.355,1),transform .8s cubic-bezier(.215,.61,.355,1);
	&.appeared {
		opacity: 1;
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	}
}

.about-right__top.js-to-appear--custom {

	.about-right__studio-description, .about-right__image {
		opacity: 0;
		// transform-origin: center;
		transform: translate3d(0, 100px, 0) scale3d(1, 1.3, 1);
		transition: opacity .8s cubic-bezier(.215,.61,.355,1),transform .8s cubic-bezier(.215,.61,.355,1);
	}

	.about-right__image {
		transform: translate3d(0, 200px, 0) scale3d(1, 1.3, 1);
	}

	&.appeared {

		.about-right__studio-description, .about-right__image {
			opacity: 1;
			transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
		}

		.about-right__studio-description {
			transition-delay: 0.3s;
		}

		.about-right__image {
			transition-delay: 0.6s;
		}

	}

}