.about-left {
  position: fixed;
  top: 30vh;
	width: $aboutLeftWidth;
	max-width: 220px;
  left: 2vw;
  height: 70vh;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  font-family: $font-title;
  // @media (max-width: 1024px) {
	// 	display: none;
  //   // top: 120px;
  //   // height: auto;
  //   // flex-direction: row;
  //   // align-items: flex-start;
  //   // position: relative;
  //   // left: 0;
  //   // width: 90vw;
	// 	// margin: auto;
  // }
  @media (max-width: 420px) {
    display: none;
  }

  &__title {
    font-size: 16px;
    line-height: 1.2;
    max-width: 120px;
    @media (max-width: 812px) {
      font-size: 20px;
      max-width: 100%;
    }
    @media (min-width: 2000px) {
      font-size: 30px;
    }
  }

  &__infos {
    justify-self: flex-end;
    margin-top: auto;
		text-transform: lowercase;
    @media (max-width: 1024px) {
      margin-top: 0;
      margin-left: auto;
      justify-self: flex-end;
    }
    @media (max-width: 420px) {
      margin: 30px 0;
    }
    &-line {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      font-size: 14px;
      line-height: 1.3;
      @media (min-width: 2000px) {
        font-size: 18px;
      }
      &:first-child {
        margin-bottom: 15px;
      }
      .label {
        width: 10%;
      }
      .value {
				width: 65%;
        display: flex;
        flex-direction: column;
        span {
          display: block;
        }
      }
    }
  }

  &__email {
    justify-self: flex-end;
    margin-top: 10px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 14px;
    line-height: 1.3;
    @media (max-width: 1024px) {
      margin-top: 0;
    }
    @media (min-width: 2000px) {
      font-size: 18px;
    }
    .text {
      margin-top: 20px;
      width: 100%;
      p {
        font-size: 12px;
      }
      strong {
        width: 35%;
        display: inline-block;
      }
      // a {
      //   font-weight: normal;
      //   font-family: $font-body;
      // }
      // .body-font {
      //   font-family: $font-body;
      // }
    }
    .email {
      width: 65%;
      span {
        display: block;
      }

    }
  }
}

.page-template-t-about .about-left {
  @media (max-width: 812px) {
    display: none;
  }
}

// .page-template-t-about .about-left__infos, 
// .page-template-t-about .about-left__email {
//   display: none;
// }

.about-left__infos.js-to-appear--custom, 
.about-left__email.js-to-appear--custom {
	opacity: 0;
	transform: translate3d(0, 100px, 0) scale3d(1, 1.3, 1);
	transition: opacity .8s cubic-bezier(.215,.61,.355,1),transform .8s cubic-bezier(.215,.61,.355,1);
	&.appeared {
		opacity: 1;
		transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
	}
}



// .about-left__infos.js-to-appear--custom {
// 	transition-delay: 0.2s;
// }

// .about-left__email.js-to-appear--custom {
// 	transition-delay: 0.4s;
// }


.mobile-only {
  display: none;
  @media (max-width: 812px) {
    display: block;
    .about-left {
      display: block;
      position: relative;
      height: auto;
      width: 90%;
      margin: auto;
      left: 0;
      max-width: 100%;
      padding-bottom: 50px;
      top: 0;
    }
  }
}