.back-cta {
  position: fixed;
  right: 0;
  bottom: 10vh;
  font-size: 12px;
  font-weight: 300;
  width: 130px;
  user-select: none;
  opacity: 0;
  cursor: pointer;
	text-transform: lowercase;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 5px;
    width: 70%;
    height: 1px;
    background-color: #000;
  }
  &.hidden {
    opacity: 0 !important;
  }
}