.burger {
  display: none;
  @media (max-width: 767px) {
    display: block;
  }

  &.open {
    .burger__trigger {
      height: 20px;
      &-lines {
        width: 102%;
        background-color: rgba(0, 0, 0, 0);
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__trigger {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 25px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    &-lines {
      width: 100%;
      height: 2px;
      background-color: rgba(0, 0, 0, 1);
      &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
        transform-origin: left center;
        transform: rotate(0);
        transition: transform .3s cubic-bezier(.215,.61,.355,1);
      }
      &:before {
        top: 0px;
      }
      &:after {
        bottom: 0px;
      }
    }
  }

  &__menu {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background: rgba(255,255,255,0.95);
    position: fixed;
    z-index: 998;
    left: 0;
    top: 0;
    transform: translate3d(-100%, 0, 0);
    transition: transform .8s cubic-bezier(.215,.61,.355,1);
    &.open {
      transform: translate3d(0, 0, 0);
      .burger__logo {
        opacity: 1;
      }
      .burger__link {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &__logo {
    width: 50%;
    text-align: center;
    font-size: 22px;
    position: fixed;
    left: calc(50% - 25%);
    top: 22px;
    font-family: $font-title;
    opacity: 0;
    transition-duration: 0.8s;
    transition-timing-function: ease;
  }

  &__links {
    width: 80%;
    margin: 25vh auto;
  }

  &__link {
    font-size: 38px;
    line-height: 2;
    font-family: $font-title;
    text-align: center;
    text-transform: lowercase;
    opacity: 0;
    transform: translateX(-100%);
    transition-duration: 0.8s;
    transition-timing-function: ease;
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        transition-delay: 0.05s * $i;
      }
    }
  }

  &__languages {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    position: absolute;
    left: 0;
		bottom: 40px;
		color: #999999;
		font-family: $font-title;
  }
}