.copyright {
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #999999;
  font-size: 12px;
  text-align: right;
  font-family: $font-body;
  opacity: 0;

  @media (max-width: 1024px) {
    opacity: 1;
    z-index: 10;
  }

  @media (max-width: 1024px) {
    display: none;
  }
}