.home-container {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  min-height: -webkit-fill-available;
  overflow: hidden;
  display: block;
  @media (max-width: 737px) {
    display: none;
  }
  opacity: 0;
  &.visible {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
}

.home-container__wrapper {
  height: 100%;
  display: inline-flex;
	will-change: transform, opacity;
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}

.home-container__project {
  // margin: 0 -50vw 0 0;
  display: flex;
  //justify-content: center;
  //border: solid thin #000;

  &:last-child {
    margin: 0;
  }

} 

.home-container__text {
  // height: 100vh;
  height: 100%;
  z-index: 10;
  padding-top: 70vh;
  margin-right: 100px;
  &-container {
    display: flex;
    justify-content: flex-start;
		align-items: flex-end;
	}
  .type {
    width: 80px;
    margin-right: 20px;
    height: 78px;
    display: flex;
    align-items: flex-end;
    span {
      width: 100%;
      text-align: right;
      font-size: 14px;
      display: inline-block;
      @media (max-width: 415px) {
        font-size: 12px;
        margin-right: 15px;
      }
    }
  }
  .title {
    height: 78px;
    display: flex;
    align-items: flex-end;
    font-size: 78px;
    line-height: 0.55;
    color: #000;
    text-decoration: none;
    position: relative;
    font-family: $font-title;
    span {
      display: block;
      white-space: nowrap;
    }
    @media (max-width: 415px) {
      font-size: 38px;
    }
  }
  &--allprojects {
    width: 25vw;
    min-width: 400px;
    margin-right: calc(2vw + 40px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    .home-container__text-container {
      display: inline-flex;
      position: relative;
      &:after {
        position: absolute;
        //content: '';
        background-color: #000;
        height: 1px;
        width: calc(80px + 4vw + 200px);
        right: calc(-40px - 2vw - 200px);
        bottom: -20px;
        transform: translate3d(0, 0, 0);
        transition: transform .6s cubic-bezier(0.22, 0.61, 0.36, 1);
      }
      &:hover:after {
        transform: translate3d(40px, 0, 0)
      }
    }
  }
}

.home-container__column {
  // height: 100vh;
  height: 100vh;
  display: flex;
  overflow: hidden;
  will-change: transform, opacity;
  // border: solid thin #000;
  
  &.top {
    align-items: flex-start;
  }

  &.top_under_menu {
    align-items: flex-start;
    .home-container__image-wrapper {
      margin-top: 60px;
    }
  }
  
  &.center {
    align-items: center;
  }
  
  &.bottom {
    align-items: flex-end;
  }
}

.home-container__image-wrapper {
  overflow: hidden;
  background-color: #ececec;

  // ratio 0.66
  &.portrait {
    width: 49.5vh;
    height: 75vh;
    @media (max-width: 415px) {
      width: 43vh;
      height: 65vh;
    }

    &.small {
      width: 33vh;
      height: 50vh;
    }
  }

  &.landscape {
    width: 75vh;
    height: 50vh;
    @media (max-width: 415px) {
      width: 65vh;
      height: 43vh;
    }

    &.small {
      width: 350px;
      height: 297.5px;
    }
	}
}

.home-container__item-zoom {
	width: 100%;
	height: 100%;
	transform-origin: right;
	transform: translate3d(0, 0, 0);
	transition: transform .8s cubic-bezier(0.215, 0.61, 0.355, 1);
	&:hover {
		transform: translate3d(-3%, 0, 0);
	}
}
html.touchevents .home-container__item-zoom:hover {
	transform: translate3d(0, 0, 0);
}

.home-container__item {
  width: 100%;
  height: 100%;
  background-size: cover;
  will-change: transform, opacity;
  transform-origin: left;
}