.legals {
	width: 70vw;
	margin: 30vh calc(2vw + 40px) 5vh auto;

	> h1 {
		font-size: 50px;
    font-family: $font-title;
    margin-bottom: 40px;
	}

	> h2, h3, h4, h5, h6 {
		font-size: 20px;
		font-family: $font-title;
		margin-bottom: 15px;
		margin-top: 40px;
	}

	> p {
		font-size: 14px;
    line-height: 1.3;
    font-family: $font-body;
		font-weight: 300;
	}
}