.loader {
  background: #FFF;
  width: 100vw;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100 - 60px);
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 1000;
  display: flex;
}