.nav {
  width: 100vw;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 998;
  font-family: $font-title;
  @media (max-width: 812px) {
    background-color: rgba(255, 255, 255, 0.95);
  }

  a {
    text-decoration: none;
    color: #000;
  }
}

.nav__container {
  width: 96%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 767px) {
    justify-content: center;
  }
}

.nav__logo {
  font-size: 24px;
  opacity: 0;
  animation: fade-in 0.5s ease 0.5s forwards;
  @media (max-width: 767px) {
    font-size: 22px;
  }
  @media (min-width: 1600px) {
    font-size: 26px;
  }
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // width: 40%;
  max-width: 950px;
  font-size: 18px;
  text-transform: lowercase;
  opacity: 0;
  animation: fade-in 0.5s ease 0.6s forwards;
  gap: 40px;
  @media (max-width: 1025px) {
		width: 55%;
  }
  @media (max-width: 767px) {
    display: none;
  }
  @media (min-width: 1600px) {
    font-size: 20px;
  }
}

.nav__link {
  cursor: pointer;
  &.active {
    a {
      color: #999;
    }
  }
}

.nav__languages {
  display: flex;
  text-transform: lowercase;
  color: #999999;
  font-size: 14px;
  li {
    cursor: pointer;
    transition: color 0.2s ease;
    &:hover {
      color: #000;
    }
  }
  @media (min-width: 1500px) {
    font-size: 16px;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}