$navHeight: 60px;

.object-container {
  height: calc(98vh - #{$navHeight});
  margin: $navHeight auto 0;
  width: 96vw;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1025px) {
    display: none;
  }

  &__infos {
    width: 25%;
    margin-right: 3%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &-container {
      height: 50%;
      display: flex;
      flex-direction: column;

      @media (max-width: 1400px) {
        height: 60%;
      }
    }
  }

  &__title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 10;
    .type {
      font-size: 12px;
      margin-right: 20px;
    }
    .title {
      font-size: 18px;
      line-height: 0.7;
      font-family: $font-title;
    }
  }

  &__lists {
    display: flex;
    justify-self: flex-end;
    margin: auto 0 10px;
  }

  &__list {
    font-size: 12px;
    line-height: 1.3;
    &:first-child {
      margin-right: 15px;
    }

    li {
      min-height: 30px;
      display: flex;
      flex-direction: column;
    }
  }

  &__linked {
    justify-self: flex-end;
    margin: 10px 0 20px;
    font-size: 14px;
    color: #000;
    transition: color 0.2s ease;
    font-family: $font-title;
    span {
      display: block;
    }
  }

  &__images {
    width: 70%;
    display: flex;
    justify-content: flex-end;
  }

  &__template {
    width: 100%;
    height: 100%;

    &--01 {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      .top {
        height: 28%;
        display: flex;
        justify-content: flex-end;
        .object-container__lazy-wrapper {
          height: 100%;
        }
        .image {
          padding-left: 37vh;
        }
      }
      .bottom {
        height: 70%;
        display: flex;
        justify-content: flex-end;
        .object-container__lazy-wrapper {
          height: 100%;
        }
        .image {
          padding-left: 100vh;
        }
      }
      .image {
        height: 100%;
      }
    }

    &--02 {
      // width: 80vh;
      display: flex;
			justify-content: space-between;
			width: calc((36vh * 0.6668) + ((98vh - 60px) * 0.6668) + 2vh); // width of both images + margin
      .left {
				width: calc(36vh * 0.6668); // image height * image ratio
				display: flex;
        align-items: flex-end;
        .object-container__lazy-wrapper {
          width: 100%;
        }
        .image {
					height: 36vh;
        }
      }
      .right {
				height: 100%;
				width: calc((98vh - 60px) * 0.6668); // containers height (= image height) * image ratio
        .object-container__lazy-wrapper {
          width: 100%;
          height: 100%;
        }
        .image {
          height: 100%;
        }
      }
      .image {
        width: 100%;
      }
    }

    &--03 {
      display: flex;
      justify-content: space-between;
      .left {
        width: 40%;
        display: flex;
        align-items: flex-end;
        .object-container__lazy-wrapper {
          width: 100%;
        }
        .image {
          height: 30vh;
        }
      }
      .right {
        width: 58%;
        .object-container__lazy-wrapper {
          width: 100%;
          height: 100%;
        }
        .image {
          height: 100%;
        }
      }
      .image {
        width: 100%;
      }
    }

  }

  .image {
    background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
    &.lazy.appeared {
      opacity: 0;
      &.loaded {
        opacity: 1;
        transition: opacity .8s cubic-bezier(.215,.61,.355,1);
      }
    }
  }
}