$navHeight: 60px;

.projects-container {
  height: calc(96vh - #{$navHeight});
  margin-top: $navHeight;
  overflow: hidden;
  // display: flex;
  @media (max-width: 737px) {
    display: none;
  }

  &__titles {
    margin-left: 2vw;
		position: fixed;
		top: calc(#{$navHeight} + 4vh);
		left: 2vw;
		z-index: 10;
		-webkit-perspective: 1000;
		-webkit-backface-visibility: hidden;
    &-item > a {
			width: 10vw;
			min-width: 150px;
      line-height: 1.3;
      text-decoration: none;
      font-family: $font-body;
      font-size: 14px;
      color: #000;
      cursor: pointer;
      display: block;
      @media (min-width: 2000px) {
        font-size: 18px;
      }
    }
    &.js-to-appear--vertical {
      transform: translate3d(0, 5%, 0) scale3d(1, 1.3, 1);
      &.appeared {
        transform: translateY(0) scale3d(1, 1, 1);
      }
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__column-images {
    height: 80%;
  }

  &__column-texts {
    height: 18%;
  }
}