$navHeight: 60px;

.project-container {
  height: calc(98vh - #{$navHeight});
  margin-top: $navHeight;
  overflow: hidden;
  display: block;
  @media (max-width: 812px) {
    display: none;
  }

  .link-mailto {
    font-size: 12px;
    color: #000;
    transition: color 0.2s ease;
    font-family: $font-title;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  &__infos {
    height: 100%;
    width: 40%;
    max-width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 2vw;
    position: relative;
    z-index: 10;

    &-container {
      height: 50%;
      display: flex;
      flex-direction: column;

      @media (max-width: 1400px) {
        height: 60%;
      }
    }
  }

  &__title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    .type {
      font-size: 12px;
      margin-right: 10px;
      text-transform: capital;
      position: relative;
      top: 4px;
    }
    .title {
      font-size: 20px;
      line-height: 0.7;
      font-family: $font-title;
    }
  }

  &__description > p {
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
    line-height: 1.2;
  }

  &__lists {
    display: flex;
    justify-self: flex-end;
    margin: auto 0 10px;
  }

  &__list {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.3;
    &:first-child {
      margin-right: 15px;
    }
  }

  &__linked {
    justify-self: flex-end;
    margin: 10px 0 20px;
    font-size: 14px;
    color: #000;
    font-family: $font-title;
    span {
      display: block;
    }
  }

  &__wrapper {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 0;
    height: 100%;
    display: inline-flex;
  }

  &__column {
    position: relative;
    // display: flex;
    // flex-direction: column;
    // justify-content: flex-end;
    height: 100%;
    width: 66.666svh;
    margin-right: 5vh;
    &.landscape {
      width: 150vh;
    }
  }

  &__image-wrapper {
		position: absolute;
		bottom: 0;
    width: 100%;
    height: 100%;
    transform-origin: bottom center;
    transform: scale(0.75);
  }

  &__image {
    // position: absolute;
    width: 100%;
    height: 100%;
    // transform-origin: bottom center;
    background-size: auto 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    // transform: scale(0.75);
  }

  .project-container__next {
    min-width: 40vw;
    height: 100vh;
    z-index: 10;
    padding-top: 70vh;
    // margin-left: 100px;
    margin-right: calc(2vw + 40px);
    // min-width: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    &-container {
      display: inline-flex;
      justify-content: flex-start;
      align-items: flex-end;
      position: relative;
      &:after {
        position: absolute;
        // content: '';
        background-color: #000;
        height: 1px;
        width: calc(80px + 4vw + 200px);
        right: calc(-40px - 2vw - 200px);
        bottom: -40px;
        transform: translate3d(0, 0, 0);
        transition: transform .6s cubic-bezier(0.22, 0.61, 0.36, 1);
      }
      &:hover:after {
        transform: translate3d(40px, 0, 0)
      }
    }
    .type {
      height: 78px;
      font-size: 14px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      width: 80px;
      margin-right: 20px;
      text-align: right;
    }
    .title {
      height: 78px;
      display: flex;
      align-items: flex-end;
      font-size: 58px;
      line-height: 0.55;
      color: #000;
      text-decoration: none;
      position: relative;
      font-family: "Canela";
      span {
        display: block;
        white-space: nowrap;
      }
    }
  }

  .js-to-hide {
    opacity: 1;
    transition: opacity 0.3s ease;

    &.hidden {
      opacity: 0;
    }
  }
}

html.touchevents .project-container__image-wrapper {
	transform: scale(1);
}