.project-container-mobile {
	display: none;
	padding-bottom: 50px;
  @media (max-width: 812px) {
    display: block;
  }

  &__wrapper {
    width: 90%;
    margin: 120px auto 0;
  }

  &__infos {
    height: 100%;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    &-container {
      height: 50%;
      display: flex;
      flex-direction: column;

      @media (max-width: 1400px) {
        height: 60%;
      }
    }
  }

  &__title {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 10;
    margin-bottom: 10px;
    .type {
      font-size: 12px;
      margin-right: 10px;
      text-transform: capital;
    }
    .title {
      font-size: 20px;
      line-height: 0.7;
      font-family: $font-title;
    }
  }

  &__description > p {
    font-size: 14px;
    font-weight: 300;
    margin-top: 20px;
    line-height: 1.2;
  }

  &__lists {
    display: flex;
    justify-self: flex-end;
    margin: 20px 0 10px;
  }

  &__list {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.3;
    &:first-child {
      margin-right: 15px;
    }
  }

  &__linked {
    justify-self: flex-end;
    margin: 10px 0 20px;
    font-size: 14px;
    color: #000;
    font-family: $font-title;
    z-index: 10;
    span {
      display: block;
    }
  }

  &__images {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__image {
    width: 100%;
    // height: 125vw;
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
  }

  &__next {
    margin: 100px auto 150px;
    &-container {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      position: relative;
      &:after {
        position: absolute;
        content: '';
        background-color: #000;
        height: 1px;
        width: calc(120px + 5%);
        right: -5%;
        bottom: -20px;
      }
    }
    .type {
      font-size: 12px;
      margin-right: 10px;
      display: inline-block;
    }
    .title {
      margin-right: calc(60px - 5%);
      font-size: 30px;
      line-height: 0.6;
      color: #000;
      text-decoration: none;
      position: relative;
      font-family: $font-title;
      display: inline-block;
      transition: transform 0.2s ease;
      transform: scale(1, 1);
      span {
        display: block;
      }
    }
  }
}